<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Admin</h1>
            <h2 class="sub-header">Users</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Username</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Password</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> Role</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th>
                            <input ng-model="model.username" type="text" class="form-control" id="inputUsername"
                                   placeholder="username">
                        </th>
                        <th><input ng-model="model.password" type="text" class="form-control" id="inputPassword"
                                   placeholder="password">
                        </th>
                        <th>
                            <input ng-model="model.role" type="text" class="form-control" id="inputRole"
                                   placeholder="role1 | role2 | ...">
                        </th>
                        <th>
                            <a ng-click="model.addUser()">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </a>
                            <a ng-click="model.updateUser()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in model.users">
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.roles}}</td>
                        <td>
                            <a ng-click="model.deleteUser($index)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                            <a ng-click="model.selectUser($index)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <div class="row-lg-2">
                    <div class="row">
                        <div class="col-xs-8">
                            <label for="alertMessage"><h4>Alert Message</h4></label>
                        </div>
                        <div class="col-xs-2">
                            <a ng-click="model.postAlertMessage()"
                               ng-mouseover="model.showPostPopover=true;" ng-mouseleave="model.showPostPopover=false;">
                                <div class="popover text-center"
                                     ng-show="model.showPostPopover">{{model.postPopover.hint}}</div>
                                <h4>
                                    <span class="glyphicon glyphicon-alert pull-right" aria-hidden="true">
                                    </span>
                                </h4>
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <a ng-click="model.removeAlertMessage()"
                               ng-mouseover="model.showRemovePopover=true;"
                               ng-mouseleave="model.showRemovePopover=false;">
                                <div class="popover"
                                     ng-show="model.showRemovePopover">{{model.removePopover.hint}}</div>
                                <h4>
                                    <span class="glyphicon glyphicon-remove-circle pull-right" aria-hidden="true">

                                    </span>
                                </h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row-lg-10">
                    <textarea id="alertMessage" ng-model="model.alertMessage" type="text" class="form-control"
                              placeholder="Message to alert all users of upcoming administrative activities."
                              rows="2" maxlength="130"></textarea>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead/>
                    <tbody>
                        <tr>
                            <td><label>Recent pages:</label></td>
                            <td><input ng-model="model.numberOfRecentPages"
                                       ng-blur="model.updateNumberOfPages()"
                                       type="number" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><label>Recent activities:</label></td>
                            <td><input ng-model="model.numberOfRecentActivities"
                                       ng-blur="model.updateNumberOfActivities()"
                                       type="number" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
