<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Welcome to DOConvergence!</h1>
            <p>
                This is where you can create documents and share with your colleagues the best documentations
                that you can come up with. By doing so, your colleagues will also do the same to you. The
                hope is that together you and your colleagues will collaborate and contribute to create the
                best set of documentations the world has ever seen. Everyone will then shake hands and be
                happy. Start by clicking on one of the links below, creating a new document, or searching for
                some documents by using some keyword. You can also go to your profile to access a document
                you have recently worked on. Happy collaboration!
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr ng-repeat="document in documents">
                            <td>
                                <a ng-click="openDocument($index)">
                                    <span class="text-nowrap">{{document.title}}</span>
                                </a>
                                <br/>
                                <span>{{document.abstract}} ...</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
