.navbar .nav > li > a {
    color: #7FFF00;
}

.navbar-inverse .navbar-brand {
    color: #7FFF00;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
    background-color: #7FFF00;
}

.nav-sidebar > li > a {
    color: #008000;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background-color: #7FFF00;
    color: #060c00;
}

textarea {
    resize: none;
}

.button {
    display: block;
    width: 60px;
    height: 25px;
    background: #173B0B;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: #A9F5A9;
    font-weight: bold;
    padding-left: 15px;
}

.text-alert {
    color: lightpink;
}

.text-normal {
    color: black;
}

.input-small {
    height: 21px;
}

.popover {
    text-decoration: none;
    color: gray;
    position: absolute;
    top: 0;
    display: block;
}