<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Login</h1>
            <br/>
            <form name="signin" class="form-horizontal">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2">Username:</label>
                    <div class="col-sm-10">
                        <input name="username" required ng-model="username" type="text" class="form-control"
                               id="inputUsername" placeholder="Username">
                        <div ng-messages="signin.username.$error" role="error">
                            <div ng-if="showError" class="text-danger">
                                <div ng-message="required">Please enter your username.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2">Password:</label>
                    <div class="col-sm-10">
                        <input name="password" required ng-model="password" type="password" class="form-control"
                               id="inputPassword" placeholder="Password">
                        <div ng-messages="signin.password.$error" role="alert">
                            <div ng-if="showError" class="text-danger">
                                <div ng-message="required">Please enter your password.</div>
                                <div ng-message="invalidLogin">Invalid username or password.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="login()" type="submit" class="btn btn-block"><b>Login</b></button>
                    </div>
                </div>
            </form>
            <br/>
            <form name="register" class="form-horizontal" action="#/register">
                <div class="form-group">
                    <label class="col-sm-12">Click below to register if you do not already have an account.</label>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-block">&nbsp;<b>Register</b></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
