<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 ng-hide="editable || newDocument" ng-mouseup="model.getSelectedText()" ng-cloak>{{document.title}}</h1>
            <h6 ng-hide="editable || newDocument" ng-cloak>
                Last modified by <a ng-click="model.openCollaboratorPage(document.modifierId,document.user)">
                {{document.user}}</a>
                on {{document.lastModifiedDate}}
            </h6>
            <p ng-hide="editable || newDocument" ng-mouseup="model.getSelectedText()" ng-cloak>{{document.content}}</p>
            <div ng-if="model.errorred" class="text-danger" ng-cloak>{{model.errorMessage}}</div>
            <input ng-show="editable" ng-focus="model.clearError()" ng-model="model.title" type="text"
                   class="form-control" placeholder="Enter a title" ng-cloak>
            <textarea ng-show="editable" ng-model="model.content" type="text" class="form-control"
                      placeholder="Enter the content" rows="15" ng-cloak></textarea>
            <input ng-show="newDocument" ng-focus="model.clearError()" ng-model="model.newDocumentTitle"
                   type="text" class="form-control" placeholder="Enter a title" ng-cloak>
            <textarea ng-show="newDocument" ng-model="model.newDocumentContent" type="text"
                      class="form-control" placeholder="Enter the content" rows="15" ng-cloak></textarea>
            <a ng-hide="editable || newDocument || model.youLike" ng-click="model.rateDocument(true)"
               ng-cloak>Like </a>
            <a ng-hide="editable || newDocument || !model.youLike" ng-click="model.rateDocument(false)"
               ng-cloak>Unlike </a>
            <a ng-hide="editable || newDocument" ng-click="createComment()"
               ng-cloak>Comment</a>
            <a ng-hide="editable || newDocument" ng-click="model.editDocument()" ng-cloak>Edit </a>
            <a ng-hide="editable || newDocument" ng-click="model.deleteDocument()" ng-cloak>Delete</a>
            <a ng-show="editable || newDocument" ng-click="model.saveDocument()" ng-cloak>Save </a>
            <a ng-show="editable || newDocument" ng-click="model.discardDocument()" ng-cloak>Discard</a>
            <br/>
            <a ng-hide="editable || newDocument || !model.likeMessage"
               class="text-normal" ng-click="model.expandAllLikers()" ng-disabled="model.showAll" ng-cloak>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                {{model.likeMessage}}
            </a>
            <div ng-hide="editable || newDocument" ng-repeat="comment in model.comments">
                <hr/>
                <h6><a ng-click="model.openCollaboratorPage(comment.userId,comment.userName)">
                    {{comment.userName}}</a> wrote on {{comment.commentDate}}:</h6>
                <p ng-hide="$index === model.editCommentIndex">{{comment.content}}</p>
                <textarea ng-show="$index === model.editCommentIndex" ng-model="model.commentEditingContent"
                          class="form-control"></textarea>
                <a ng-show="comment.userId === user._id && $index != model.editCommentIndex"
                   ng-click="model.editComment($index)" ng-cloak>Edit</a>
                <a ng-show="comment.userId === user._id && $index != model.editCommentIndex"
                   ng-click="model.deleteComment($index)" ng-cloak> Delete</a>
                <a ng-show="comment.userId === user._id && $index === model.editCommentIndex"
                   ng-click="model.saveComment()" ng-cloak>Save</a>
                <a ng-show="comment.userId === user._id && $index === model.editCommentIndex"
                   ng-click="model.discardComment()" ng-cloak> Discard</a>
            </div>
            <hr ng-hide="editable || newDocument"/>
            <textarea ng-hide="editable || newDocument"
                      ng-model="model.newCommentContent"
                      class="form-control"
                      placeholder="Write a comment"
                      focus-on="createNewComment"></textarea>
            <a ng-hide="editable || newDocument" ng-click="model.addNewComment()" ng-cloak>Add Comment</a>
            <p-dialog title="{{model.definition.modelTitle}}"
                      content="{{model.definition.definitions}}"
                      visible="showDefinition">
            </p-dialog>
        </div>
    </div>
</div>
