.navbar .nav > li > a {
    color: #7FFF00;
}

.navbar-inverse .navbar-brand {
    color: #7FFF00;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
    background-color: #7FFF00;
}

.nav-sidebar > li > a {
    color: #008000;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    background-color: #7FFF00;
    color: #060c00;
}

textarea {
    resize: none;
}

.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    height: 20px;
    padding-top: 4px;
}

.button {
    display: block;
    width: 60px;
    height: 25px;
    background: #173B0B;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: #A9F5A9;
    font-weight: bold;
    padding-left: 15px;
}