<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>Forms</h1>
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation"><a href="#/forms">Forms</a></li>
                <li role="presentation" class="active"><a href="#fields">Fields</a></li>
            </ul>

            <div id="fields">
                <sortable-fields data="model.fields">

                </sortable-fields>
                <hr/>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="addNewFieldDropdown" class="row-xs-2">Add New Field:</label>
                            <span class="caret"></span>
                            <div class="row-xs-10">
                                <select id="addNewFieldDropdown" class="form-control" ng-model="model.fieldType">
                                    <option value="singleLineText">Single Line Text</option>
                                    <option value="date">Date</option>
                                    <option value="dropDowm">Dropdown</option>
                                    <option value="checkboxes">Checkboxes</option>
                                    <option value="radioButtons">Radio Buttons</option>
                                    <option value="multiLineText">Multi Line Text</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3"></div>
                    <div class="col-xs-1">
                        <a ng-click="addField(model.fieldType)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
