<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div id="primaryDescription" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><img src="images/ME_ALE.png"></th>
                        <th><h4>Allen L&#234;</h4>
                            <h4>CS5610 - Web Development</h4>
                            <h4>College of Computer and Information Science</h4>
                            <h4>Northeastern University</h4>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="projectLinks" class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr><h3>Project-related links:</h3></tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Project proposal Google doc:</td>
                        <td>
                            <a href="https://docs.google.com/document/d/1XShwoZ0J8MR712u4f9hH0rQxJtszBWjBK5kYEYyA3N4/edit?usp=sharing">
                                https://docs.google.com/document/d/1XShwoZ0J8MR712u4f9hH0rQxJtszBWjBK5kYEYyA3N4/edit?usp=sharing
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Project access:</td>
                        <td>
                            Please use the same username/password combinations for the project as those used for the assignment (e.g., bob/bob) to access the application.
                        </td>
                    </tr>
                    <tr>
                        <td>Wireframes for portrait phone:</td>
                        <td>
                            <a href="https://moqups.com/sevenADay/PZ5fXa5b/p:a733fdbf1">
                                https://moqups.com/sevenADay/PZ5fXa5b/p:a733fdbf1</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Wireframes for landscape tablet:</td>
                        <td>
                            <a href="https://moqups.com/sevenADay/MBXmfVNf/p:a16b2c2a4">
                                https://moqups.com/sevenADay/MBXmfVNf/p:a16b2c2a4</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Architectural diagram:</td>
                        <td>
                            <a href="https://www.lucidchart.com/invitations/accept/24454b04-b5cf-45ea-9b1a-6b6025302ed8">
                                https://www.lucidchart.com/invitations/accept/24454b04-b5cf-45ea-9b1a-6b6025302ed8
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>