<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 ng-hide="editable || newDocument">{{document.title}}</h1>
            <h6 ng-hide="editable || newDocument">Last modified by {{document.user}} on {{document.lastModifiedDate}}</h6>
            <p ng-hide="editable || newDocument">{{document.content}}</p>
            <input ng-show="editable" required ng-model="title" type="text" class="form-control"
                   placeholder="Enter a title">
            <textarea ng-show="editable" required ng-model="content" type="text" class="form-control"
                      placeholder="Enter the content" rows="15"></textarea>
            <input ng-show="newDocument" required ng-model="newDocumentTitle" type="text" class="form-control"
                   placeholder="Enter a title">
            <textarea ng-show="newDocument" required ng-model="newDocumentContent" type="text" class="form-control"
                      placeholder="Enter the content" rows="15"></textarea>
            <a ng-hide="editable || newDocument" href="#">Like</a>&nbsp;
            <a ng-hide="editable || newDocument" href="#">Comment</a>&nbsp;
            <a ng-hide="editable || newDocument" ng-click="editDocument()">Edit</a>&nbsp;
            <a ng-hide="editable || newDocument" href="#">Delete</a>&nbsp;
            <a ng-show="editable || newDocument" ng-click="saveDocument()">Save</a>&nbsp;
            <a ng-show="editable || newDocument" ng-click="discardDocument()">Discard</a>
        </div>
    </div>
</div>
