<div class="container-fluid" ng-controller="SidebarController">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{'active': $location.url().indexOf('home') != -1 || $location.url().indexOf('logout') != -1}">
                    <a href="#/home">Home</a>
                </li>
                <li ng-show="user" ng-class="{'active': $location.url().indexOf('profile') != -1 || $location.url().indexOf('username') != -1}">
                    <a href="#/profile">Profile</a>
                </li>
                <li ng-show="isAdmin" ng-class="{'active': $location.url().indexOf('admin') != -1}">
                    <a href="#/admin">Admin</a>
                </li>
                <li ng-show="document && user" ng-class="{'active': $location.url().indexOf('document') != -1}">
                    <a href="#/document/{{document._id}}">Document</a>
                </li>
                <li ng-show="searching" ng-class="{'active': $location.url().indexOf('results') != -1}">
                    <a href="#/results/{{rootKeyWord}}">Search Results</a>
                </li>
            </ul>
        </div>
    </div>
</div>
